
body{	
    overflow-x: hidden;
    word-break: keep-all;
	font-family: 'Noto Sans KR', sans-serif!important;
	font-weight: 100!important;
	letter-spacing: -0.01em!important;
	margin: 0px;
}

span, p, a, dl {
	font-family: 'Noto Sans KR', sans-serif!important;
	margin: 0;
	padding: 0;
	cursor: default;
}

dl, dt, dd{
	list-style-type: none; 
	margin: 0;
	vertical-align: baseline; outline: 0; padding: 0; margin: 0; border: 0;
}
	
h1, h2, h3, h4, h5, h6{
	font-family: 'Noto Sans KR', sans-serif!important;
	font-weight: 400!important;	
	letter-spacing: -0.01em!important;
	margin: 0px;
}

ul, ol{
	list-style: none;
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
	cursor: default;
}

a:-webkit-any-link{
	cursor: pointer;
}

@keyframes fadein {
/* 효과를 동작시간 동안 0 ~ 1까지 */
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}


@keyframes fadeout {
/* 효과를 동작시간 동안 0 ~ 1까지 */
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}


#header{
	width: 100%;
    height: 85px;
    position: fixed;
    top: 0;
    left: 0;
    -webkit-box-shadow: 0 0 0 1px rgb(255 255 255 / 20%);
    box-shadow: 0 0 0 1px rgb(255 255 255 / 20%);
    opacity: 1;
    visibility: visible;
    -webkit-transition: background-color 200ms, height .3s, -webkit-box-shadow .4s;
    transition: background-color 200ms, opacity .3s, height .3s, -webkit-box-shadow .4s;
    -webkit-transition: background-color 200ms, opacity .3s, height .3s, -webkit-box-shadow .4s;
    transition: background-color 200ms, opacity .3s, height .3s, box-shadow .4s;
    transition: background-color 200ms, opacity .3s, height .3s, box-shadow .4s, -webkit-box-shadow .4s;
    z-index: 500;
}

#header.black{
	border-bottom: 0px solid #e4e4e4;
    background-color: #00000011;
}

#header.white{
	border-bottom: 1px solid #efefef;
    background-color: #fff;
}

#header:hover{
	-webkit-transition: all 200ms;
	transition: all 200ms;
}

#header.black:hover{
	background-color: #00000032;
}

#header.white:hover{
	background-color: #fafafa;
}



#header-logo{
    position: absolute;
	display: block;
	transition: all .3s;
	left: 366px;
	top: 0px;
	margin: 0;
	width: 125px;
    height: 82px;
    z-index: 2;
}

#header-logo img{
	display: inline-block;
    margin-left: 3px;
	margin-top: 10px;
}

#header-logo a{
	display: block;
}

#header-logo span.en{
	display: inline-block;
	font-size: 24px;
	letter-spacing: 2.4px;
	font-weight: bold;
	top: 9px;
    margin-left: 4px;
    position: absolute;
}

#header-logo span.kr{
	display: block;
	font-size: 12px;
	letter-spacing: -0.3px;
	font-weight: 100;
    top: 53px;
    position: absolute;
}

#menu{
	width: 100%;
    padding-left: 650px;
    padding-right: 281px;
    vertical-align: top;
    position: relative;
    z-index: 500;
}



@media (max-width: 1380px){
	#header-logo{
		left: 420px;
	}
	
	#menu{
		padding-left: 662px;
	}
	
	#menu > li > a{
		padding: 27px 20px 29px;
	}
}

@media (max-width: 1800px){	
	#header-logo{
		left : 3%;
	}

	#menu{
		padding-left: 170px;
	}

	#menu > li > a{
		padding: 27px 10px 28px;
	}
}

#header.black #header-logo a, #header #menu li a{
	color: #ffffff;
}

#header.white #header-logo a, #header #menu li a{
	color: #888888;
}

#menu > li{
	display: inline-block;
    vertical-align: top;
}

#menu > li > a{
	padding: 27px 20px 37px;
    margin-right: 27px;
    position: relative;
    font-size: 18px;
    font-weight: 400;
	display: block;
    line-height: 1.2;
    -webkit-transition: all .3s;
    transition: all .3s;
}

#header.black #menu > li > a{
	color: #ffffff;
}

#header.white #menu > li > a{
	color: #888888;
}

#header #menu > li.on > a{
	font-weight: 500;
}

.header_wrap{
	height: 100%;
    margin: 0 auto;
    position: relative;
}

.menu_container{
	display: block;
    width: 100%;
    position: relative;
    font-size: 0;
    line-height: 1;
    z-index: 1;
}


#menu_line {
    display: none;
    height: 3px;
    position: absolute;
    bottom: 0px;
    left: 50%;
    background: #ab0101;
    -webkit-transition: top .3s;
    transition: top .3s;
	z-index: 151;
}



#fp-nav ul li a span{
	background: #ffffff;
}

#menu > li > a:after {content: '';display: block;position: absolute; width: auto;height: 3px;left: 50%;right: 50%;bottom: 1px;background: #ab0101;-webkit-transition: all 200ms;transition: all 200ms;z-index: 151;}
#menu > li:hover > a:after {left: 0;right: 0;-webkit-transition: all .3s;transition: all .3s;}

#menu .submenu-fulldown {
	display: none;
	position: absolute;
	left: 0;
	top : 85px;
	height: 0px;
	width: 100%;
	background-color: #fff;
	border-bottom: 1px solid #777777;
	opacity: 0;
}

#menu .submenu-fulldown.focus {
	height: 50px;
	opacity: 1;
	-webkit-transition: all 200ms;
	transition: all 200ms;
}

#menu .submenu-fulldown .submenu-list a {
	color:#ab0101;
	-webkit-transition: all 200ms;
	transition: all 200ms;
}

#menu_overlay {opacity:0;visibility:hidden;position: fixed;top: 0;left: 0;bottom: 0;right: 0;background: #000;background: rgba(0, 0, 0, .6);z-index: 150; -webkit-transition: opacity .3s,visibility .3s;transition: opacity .3s,visibility .3s;}
body.menu_open #menu_overlay {opacity:1;visibility:visible;}

#header #menu .submenu-list{
	-webkit-transition: all 200ms;
	transition: all 200ms;
}

#header #menu .submenu-list > ul > li{
	display: inline-block;
}

#header #menu .submenu-list > ul > li a{
	display: block;
    line-height: 1.7;
	
	padding: 11px 19px 27px;
    font-size: 16px;
    letter-spacing: -0.01em;
    font-weight: 400;
    color: #222;
    position: relative;
	
}

#header #menu .submenu-list > ul > li a:hover{
	color:#ab0101;
}


#header #menu .submenu-list > ul > li.on a{
	font-weight: 500;
}


#path{
	padding: 20px 0 46px;
    font-size: 0.84rem;
    float: right;
    color: #737373;
}

#path>* {
    float: left;
}

#path span{
    width: 3px;
    height: 5px;
    margin: 0px 9px 13px 4px;
}

.submenu-container{
	position: relative;
    margin: 0 auto;
    width: 1200px;
    zoom: 1;
	background-color: #FFFFFF;
    margin-top: 90px;
	min-height: 512px;
}

.side-navi{
	float: left;
	width : 15%;
}

.side-navi h2{
    position: relative;
    padding: 55px 0 37px;
    border-bottom: 2px solid #4d4d4d;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
}

.side-navi > ul{
	margin: 0;
	padding: 0;
}

.side-navi li a {
    position: relative;
    display: block;
    color: #1a1a1a;
}

.side-navi > ul > li {
    border-bottom: 1px solid #ccc;
}

.side-navi > ul > li > a {
    font-weight: 400;
    padding: 21px 20px 21px 0;
    width: auto;
    font-size: 17px;
    line-height: 21px;
    box-sizing: border-box;
}

.side-navi li:hover > a, .side-navi li.on > a {
    color: #ab0101;
}

.submenu-contents{
	position: relative;
    clear: right;
    overflow: hidden;
    width: 900px;
    max-width: 100%;
    margin: 35px 0 0 0px;
}

footer{
	background-color: #F2F2F2;
	height: 216px;
}

footer .inner {
	position: relative;
    margin: 0 auto;
    width: 1200px;
    zoom: 1;
	background-color: #F2F2F2;
	height: 216px;
}

footer .inner .copyright-wrapper {
	/*margin-top: 10px;*/
}

footer .inner .copyright-wrapper .copyright{
	font-weight: 100!important;	
	font-size: 12px;
	color: #242424;
}

footer .logo-wrapper{
	float: left;
	padding: 60px 0px 60px 0px;
}

footer .footer-body{
	float: left;
	padding-left: 63px;
	padding-top: 60px;
}

footer .footer-body .links{
	display: inline-block;
	margin-left: 17px;
}

footer .footer-body a, footer .footer-body address span{
	font-style :normal;
	letter-spacing: -0.33px;
	font-size: 13px;
	color: #242424;
	font-weight: 400!important;	
}

footer .footer-body address{
	margin-top: 28px;
}

footer .footer-body address span.info-item:not(:last-child):after {
    display: inline-block;
    content: "";
    left: 0;
    margin: 0px 5px 0px 9px;
    width: 1px;
    height: 10px;
    background: #242424;
}

footer .footer-body a:not(:last-child){
	margin-right: 10px;
}

footer .footer-body .link-leading{
	font-weight: 500!important;	
	font-size: 13px;
}

footer .footer-links{
    display: inline-block;
	left: 491px;
	top : 52px;
    position: relative;
}
footer .footer-links a:not(:last-child){
	margin-right: 16px;
}