body {
    overflow-x: hidden;
    font-family: 'NotoSansKR', sans-serif;
    word-break: keep-all;
}

ul, ol{
	list-style: none;
}

a{
	text-decoration: none;
	cursor: default;
}

a:-webkit-any-link{
	cursor: pointer;
}

@keyframes fadein {
/* 효과를 동작시간 동안 0 ~ 1까지 */
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}


@keyframes fadeout {
/* 효과를 동작시간 동안 0 ~ 1까지 */
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}


#header{
	width: 100%;
    height: 85px;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 0px solid #e4e4e4;
    background-color: #00000011;
    -webkit-box-shadow: 0 0 0 1px rgb(255 255 255 / 20%);
    box-shadow: 0 0 0 1px rgb(255 255 255 / 20%);
    opacity: 1;
    visibility: visible;
    -webkit-transition: background-color 200ms, height .3s, -webkit-box-shadow .4s;
    transition: background-color 200ms, opacity .3s, height .3s, -webkit-box-shadow .4s;
    -webkit-transition: background-color 200ms, opacity .3s, height .3s, -webkit-box-shadow .4s;
    transition: background-color 200ms, opacity .3s, height .3s, box-shadow .4s;
    transition: background-color 200ms, opacity .3s, height .3s, box-shadow .4s, -webkit-box-shadow .4s;
    z-index: 500;
}

#header:hover{
	background-color: #00000032;
	-webkit-transition: all 200ms;
	transition: all 200ms;
}


#header-logo{
    position: absolute;
	display: block;
	transition: all .3s;
	left: 420px;
}

#header-logo a{
	display: block;
}

#header-logo span.en{
	display: block;
	font-size: 16px;
}

#header-logo span.kr{
	display: block;
	font-size: 12px;
}

#menu{
	width: 100%;
    padding-left: 662px;
    padding-right: 281px;
    vertical-align: top;
    position: relative;
    z-index: 500;
}



@media (max-width: 1380px){
	#header-logo{
		left: 420px;
	}
	
	#menu{
		padding-left: 662px;
	}
	
	#menu > li > a{
		padding: 27px 20px 29px;
	}
}

@media (max-width: 1800px){	
	#header-logo{
		left : 3%;
	}

	#menu{
		padding-left: 170px;
	}

	#menu > li > a{
		padding: 27px 10px 28px;
	}
}

#header-logo a, #header #menu li a{
	color: #ffffff;
}


#menu > li{
	display: inline-block;
    vertical-align: top;
}

#menu > li > a{
	color: #ffffff;
	padding: 27px 20px 29px;
    margin-right: 27px;
    position: relative;
    font-size: 18px;
    font-weight: 600;
	display: block;
    line-height: 1.7;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.header_wrap{
	height: 100%;
    margin: 0 auto;
    position: relative;
}

.menu_container{
	display: block;
    width: 100%;
    position: relative;
    font-size: 0;
    line-height: 1;
    z-index: 1;
}


#menu_line {
    display: none;
    height: 3px;
    position: absolute;
    bottom: 0px;
    left: 50%;
    background: #ab0101;
    -webkit-transition: top .3s;
    transition: top .3s;
	z-index: 151;
}



#fp-nav ul li a span{
	background: #ffffff;
}

#menu > li > a:after {content: '';display: block;position: absolute; width: auto;height: 3px;left: 50%;right: 50%;bottom: 1px;background: #ab0101;-webkit-transition: all 200ms;transition: all 200ms;z-index: 151;}
#menu > li:hover > a:after {left: 0;right: 0;-webkit-transition: all .3s;transition: all .3s;}

#menu .submenu-fulldown {
	display: none;
	position: absolute;
	left: 0;
	top : 85px;
	height: 0px;
	width: 100%;
	background-color: #fff;
	border-bottom: 1px solid #777777;
	opacity: 0;
}

#menu .submenu-fulldown.focus {
	height: 50px;
	opacity: 1;
	-webkit-transition: all 200ms;
	transition: all 200ms;
}

#menu .submenu-fulldown .submenu-list a {
	color:#ab0101;
	-webkit-transition: all 200ms;
	transition: all 200ms;
}

#menu_overlay {opacity:0;visibility:hidden;position: fixed;top: 0;left: 0;bottom: 0;right: 0;background: #000;background: rgba(0, 0, 0, .6);z-index: 150; -webkit-transition: opacity .3s,visibility .3s;transition: opacity .3s,visibility .3s;}
body.menu_open #menu_overlay {opacity:1;visibility:visible;}

#header #menu .submenu-list{
	-webkit-transition: all 200ms;
	transition: all 200ms;
}

#header #menu .submenu-list li{
	display: inline-block;
}

#header #menu .submenu-list li a{
	display: block;
    line-height: 1.7;
	
	padding: 11px 19px 27px;
    font-size: 16px;
    letter-spacing: -0.01em;
    font-weight: 600;
    color: #222;
    position: relative;
	
}

#header #menu .submenu-list li a:hover{
	color:#ab0101;
}