/*학교소개*/

.introduce .intro-symbols{
    width: 1200px;
    text-align: center;
    margin:auto 0px;
    margin-top: 64px;
}

.introduce .intro-symbols h2{
    font-family: 'Noto Serif KR', sans-serif!important;
	font-weight: 700!important;
	font-size: 45px;
	color: #242424;    
}

.introduce .intro-symbols .logo{
	background: url(../imgs/logo-bg.svg) no-repeat center center;
    width: 268px;
    height: 268px;
    margin: 70px auto 0px;
}

.introduce .intro-symbols .logo img{
    margin-top: 30px;
}

.introduce .intro-symbols .dot{
    position: relative;
    top: -10px;
}

.introduce .intro-symbols .symbols{
    margin-top: 10px;
}

.introduce .intro-symbols .intro-etc-box{
    width: 1200px;
    height: 270px;
    text-align: center;
}

.introduce .intro-symbols .intro-etc-box .song-down-wrap{
    display: inline-block;
    margin-top: 63px;
    width: 362px;
    height: 61px;
    border: #707070 1px solid;
}


.introduce .intro-symbols .intro-etc-box .song-down-wrap span{
    color: #707070;
}

.introduce .intro-symbols .intro-etc-box .song-down-wrap span{
    width: 319px;
    height: 44px;
    display: block;
    padding-top: 17px;
    padding-left: 43px;
}

.introduce .intro-symbols .intro-etc-box .song-down-wrap span::before{
    content: '';
    position: absolute;
    background: url(../imgs/fileicon.svg) no-repeat center center;
    width: 24px;
    height: 21px;
    margin-top: 2px;
    margin-left: -35px;
}

.introduce .intro-tab-wrap{
    text-align: center;
    width: 100%;
    height: 1200px;
    background: url(../imgs/intro-flower.svg) no-repeat bottom -37px left -208px, url(../imgs/intro-flower2.svg) no-repeat bottom 333px right -194px;
}

.introduce .intro-tab-wrap ul.intro-tab-ctrl{
    display: inline-block;
    text-align: center;
    border: #707070 1px solid;
    
}

.introduce .intro-tab-wrap ul.intro-tab-ctrl li{
    display: inline-block;
    width: 290px;
    height: 60px;
    background-color: #fff;
    color: #707070;
    letter-spacing: -0.5px;
    font-size: 20px;
    font-family: 'Noto Sans KR', sans-serif!important;
	font-weight: 400!important;
    line-height: 55px;
    cursor: default;
    transition: all 0.3s ease;
}

.introduce .intro-tab-wrap ul.intro-tab-ctrl li.on{
    background-color: #ab0101;
    color: white;
}
/*
.introduce .intro-tab-wrap ul.intro-tab-ctrl li:not(:first-child){
    border-left: #707070 1px solid;
}*/
.introduce .intro-tab-wrap .tab-cont{
    width: 100%;
    height: 1138px;
    display: inline-block;
    opacity: 100%;
}

.introduce .intro-tab-wrap .tab-cont.gone{
    opacity: 0%;
}

.introduce .intro-tab-wrap .tab-cont.greeting{
    background: url(../imgs/pastor_park.png) no-repeat bottom 0px left 0px;
}

.introduce .intro-tab-wrap .tab-cont.foundation{
    background: url(../imgs/pastor_lee.png) no-repeat bottom 0px right 0px;
}

.teachers-box{	
	margin-top: 60px;
}


.teachers-box .teacher-box-wrapper ul{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.teachers-box .teacher-box-wrapper ul li{
	display : inline-block;
	width : 386px;
    height: 580px;
}

.teachers-box .teacher-box-wrapper ul li .card-item{
	position: relative;
}

.teachers-box .teacher-box-wrapper ul li .name{
	text-align: center;
	margin-top: 10px;
}

.teachers-box .teacher-box-wrapper ul li .name strong, .teachers-box .teacher-box-wrapper ul li .over .head strong{
	font-size: 29px;
    font-weight: 400;
    font-family: 'Noto Sans KR';
}


.teachers-box .teacher-box-wrapper ul li .over:not(.no-greet){
	position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 384px;
    height: 473px;
    /*padding: 43px 30px 20px 30px;*/
    color: #fff;
    opacity: 0;
	background: url(../imgs/card-over-bg.png) no-repeat center center;
    transition: all 0.3s ease;
	/*border: #777 solid 1px;*/
}


.teachers-box .teacher-box-wrapper ul li .over.no-greet{
    display: none;
}

.teachers-box .teacher-box-wrapper ul li .over:hover{
    opacity: 1;
}

.teachers-box .teacher-box-wrapper ul li .over .head{
	margin-top: 37px;
    margin-left: 38px;
}

.teachers-box .teacher-box-wrapper ul li .over .head strong{
    color: #000;
}

.teachers-box .teacher-box-wrapper ul li .name span{   
	font-size: 23px;
    font-weight: 400;
    font-family: 'Noto Sans KR';
    margin-left: 4px;
    color: #777;
}

.teachers-box .teacher-box-wrapper ul li .over .head strong{   
	font-size: 35px;
    font-weight: 500;
    font-family: 'Noto Sans KR';
    letter-spacing: -0.6px;
    color: #242424;
}


.teachers-box .teacher-box-wrapper ul li .over .body{
    margin-left: 38px;
}

.teachers-box .teacher-box-wrapper ul li .over .body p{    
	margin-top: 30px;
	color: #000;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.4px;
    color: #242424;
    opacity: 1;
    text-align: justify;
    text-justify: inter-word;
    padding-right: 38px;
}


.teaching-qualification{    
	margin: 40px 0px 40px 0px;
	text-align: right;
}

.teaching-qualification span{
	font-size: 24px;
}



.contact{
	background: url(../imgs/contact_2.png) no-repeat center 352px;
	background-size: 100% 635px;
}

.contact .submenu-container, .contact .submenu-contents{
	background: transparent;
}

.overview-fac-wrap{
	margin-top : 96px;
}

.overview-fac-wrap .overview-map{
	width: 1200px;
	margin: 0px auto;	
}

.contact-body{
	margin: 0px auto;
	width: 1200px;
	height : 240px;
	padding-top: 60px;
	/*padding-left : 88px;*/
	font-weight: 400;
	font-size: 16px;
	color: #6D6D6D;
	letter-spacing: -0.4px;
}

.contact-body .info-box{
	display: block;
	overflow: hidden;
}

.contact-body .info-box .title{
	font-weight: 500;
	color: #242424;
	font-size: 18px;
	letter-spacing: -0.45px;
	width : 120px;
	margin : 0;
	padding : 0;
	float: left;
}

.contact-body .info-box .info{
	margin : 0;
	padding : 0;
	float: left;
}

.contact-body .address-info,  .contact-body .directions{
	margin: 0px;
	padding: 0px;
}


.contact-body .address-info{	
	margin: 0px 0px;
	padding: 0px 0px;
	width:400px;
	float: left;
	display: inline-block;
	/*padding-left: 54px;*/
	padding-right: 40px;
}

.contact-body .address-info .info-box{
	height:50px;
}

.contact-body .directions{
	margin: 0px 0px;
	padding: 0px 0px;
	width:575px;
	float: left;
	display: inline-block;
}

.contact-body .directions .info-box .title{
	height: 120px;
	padding-left: 75px;
}

.contact-body .directions:before{
	content: "";
    position: absolute;
	width : 1px;
	height : 128px;
	background-color: #6D6D6D;
}


.contact-body .directions .info-box span.title-num{
	float: left;
    width: 22px;
}

.contact-body .directions .info-box span:nth-child(2){
	height: 71px;
}

.contact-body .directions .info-box span:nth-child(4){
	height: 30px;
}

    
.contact-body .directions .info-box li{
	padding-bottom: 10px;
}


.fac-box{
	margin-top: 30px;
	background: url(../imgs/facility_bg.png) no-repeat center center;
	background-size: 1132px 644px;
	width:100%;
	height: 730px;
}

.fac-box .area{
	position: absolute;
	width: 30px;
	height: 30px;
	background-color: #f2f2f2;
	border: #a6a6a6 solid 1px;
	border-radius: 25px;	
    text-align: center;
    transition: all 0.3s ease;
}

.fac-box .area:not(.no-pic) span::after,.fac-box .floor.tf span::after{
    display: inline-block;
    content: "";
    left: 0;
    margin: 0px 5px 0px 5px;
    width: 15px;
    height: 15px;
    background: url(../imgs/click_mouse.svg) no-repeat center center;
    background-size: 15px 15px;
}

.fac-box .area:hover:not(.no-pic){
	background-color: #ffffff;
}

.fac-box .no-pic span{
	color: #999!important;
}

.fac-box .area span{
	font-family: 'Noto Sans KR', sans-serif!important;
	font-weight: 400;
	font-size: 19px;
	color: #000;
    transition: all 0.3s ease;
}

.fac-box .area:hover:not(.no-pic) span{
	font-size: 23px;
}

.fac-box .area.f301{
    left: 191px;
    top: 251px;
    width: 640px;
    height: 159px;
    border-radius: 8px;
    line-height: 152px;
}

.fac-box .area.f301 span{
	font-size: 40px;
}
.fac-box .area.f301:hover:not(.no-pic) span{
	font-size: 43px;
}

.fac-box .area.f302{
	left: 837px;
    top: 251px;
    width: 186px;
    height: 58px;
    border-radius: 5px;
    line-height: 55px;
}

.fac-box .area.f303{
    left: 837px;
    top: 315px;
    width: 186px;
    height: 95px;
    border-radius: 4px;
    line-height: 88px;
}

.fac-box .area.f201{
    left: 350px;
    top: 418px;
    width: 185px;
    height: 92px;
    border-radius: 8px;
    line-height: 85px;
}

.fac-box .area.f202{    
	left: 541px;
    top: 418px;
    width: 334px;
    height: 92px;
    border-radius: 8px;
    line-height: 85px;
}

.fac-box .area.f203{
	left: 881px;
    top: 418px;
    width: 142px;
    height: 92px;
    border-radius: 7px;
    line-height: 85px;
}

.fac-box .area.f204{
	left: 191px;
    top: 418px;
    width: 153px;
    height: 92px;
    border-radius: 8px;
    line-height: 85px;
}

.fac-box .area.f101{
	left: 191px;
    top: 517px;
    width: 200px;
    height: 99px;
    border-radius: 7px;
    line-height: 93px;
}

.fac-box .area.f102{
	left: 557px;
    top: 517px;
    width: 224px;
    height: 99px;
    border-radius: 8px;
    line-height: 93px;
}

.fac-box .area.f103{
    left: 398px;
    top: 517px;
    width: 153px;
    height: 99px;
    border-radius: 8px;
    line-height: 93px;
}

.fac-box .area.f104{
	left: 787px;
    top: 517px;
    width: 236px;
    height: 99px;
    border-radius: 8px;
    line-height: 93px;
}


.fac-box .area.fb101{
	left: 191px;
    top: 633px;
    width: 368px;
    height: 66px;
    border-radius: 8px;
    line-height: 61px;
}

.fac-box .area.fb102{
	left: 566px;
    top: 633px;
    width: 164px;
    height: 66px;
    border-radius: 8px;
    line-height: 61px;
}

.fac-box .area.fb103{    
	left: 737px;
    top: 633px;
    width: 127px;
    height: 66px;
    border-radius: 8px;
    line-height: 61px;
}

.fac-box .area.fb104{    
    left: 871px;
    top: 633px;
    width: 152px;
    height: 66px;
    border-radius: 8px;
    line-height: 61px;
}

.fac-box .area.fb201{
	left: 191px;
    top: 720px;
    width: 832px;
    height: 84px;
    border-radius: 8px;
    line-height: 76px;
}

.fac-box .floor{
	position: absolute;
	font-family: 'Noto Sans KR', sans-serif!important;
	font-weight: 400;
	font-size: 31px;
}

.fac-box .floor.f3{	
    left: 96px;
    top: 303px;
}

.fac-box .floor.f2{	
    left: 96px;
    top: 444px;
}

.fac-box .floor.f1{	
    left: 96px;
    top: 544px;
}

.fac-box .floor.f101{	
    left: 1036px;
    top: 553px;
    font-size: 17px;
}



.fac-box .floor.fb1{	
    left: 86px;
    top: 642px;
}

.fac-box .floor.fb2{	
    left: 65px;
    top: 733px;
}

.fac-box .floor.tf{
	text-align: center;
    left: 825px;
    top: 198px;
    font-size: 22px;
    transition: all 0.3s ease;
    width: 182px;
}

.fac-box .floor.tf:hover:not(.no-pic){	
    font-size: 25px;
}

.facility .overlay-areas{
	position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
	width: 100%;
	height: 100%;
	background-color: #00000088;
	opacity: 0%;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.facility .overlay-areas.show{
	opacity: 100%;
}

.facility .overlay-areas .areas-detail{
    background-color: #ffffff;
    width: 1200px;
    height:  825px;
    margin: auto;
    padding: 0px 20px 0px 20px;
}

.facility .overlay-areas .areas-detail .area-title{
    padding : 20px 10px 20px 10px;
}

.facility .overlay-areas .areas-detail .area-title h1{
    display: inline-block;
	font-family: 'Noto Sans KR', sans-serif!important;
	font-weight: 400;
	font-size: 50px;
}

.facility .overlay-areas .areas-detail .area-title .close-btn{
    float: right;
}

.facility .overlay-areas .areas-detail .area-title .close-btn a{
    color: #000;
}

.facility .overlay-areas .areas-detail .area-title .close-btn span{
    font-size: 51px;
    font-weight: 100;
}

.facility .overlay-areas .areas-detail .areas-focus-img-wrap{
    width: 1200px;
	height : 520px;
}

.facility .overlay-areas .areas-detail .areas-card-box{
    width: 1180px;
    margin: 20px 0px 0px 17px;
}

.facility .overlay-areas .areas-detail .areas-card-box .area-card{
	display: inline-block;
    width: 217px;
    height: 152px;
}

.facility .overlay-areas .areas-detail .areas-focus-img-wrap a.circle-btn{
	height: 50px;
    width: 50px;
	display: inline-block;
	text-align: center;
	line-height: 48px;
	font-size: 20px;
	font-weight: 400;	
	letter-spacing: -0.5px;
	color: #707070;
    background-color: #ffffff;
}

.facility .overlay-areas .areas-detail .areas-focus-img-wrap a.prev-btn{
    position: relative;
    top: 211px;
    float: left;
}

.facility .overlay-areas .areas-detail .areas-focus-img-wrap a.next-btn{
    position: relative;
    top: 211px;
    float: right;
}