:root{
    --life-header2-width : 114px;
    --life-header2-height : 88px;
}

.life .submenu-container .submenu-contents .card{
    position: absolute;
    display: block;
    background-color: transparent;
}


.life .submenu-container .submenu-contents .card h3{
    font-size: 30px;
    font-weight: 500;
    font-family: 'Noto Sans KR', sans-serif!important;
    letter-spacing: -0.75px;
    color: #242424;
}


.life .submenu-container .submenu-contents .card p{
    font-size: 30px;
    font-weight: 400;
    font-family: 'Noto Sans KR', sans-serif!important;
    letter-spacing: -0.75px;
    color: #242424;
    display: block;
    margin-top: 20px;
}

.life .submenu-container .submenu-contents .life-faith{
    position: relative;
    width: 1200px;
    height: 2321px;
    margin-top: 111px;
}


.life .submenu-container .submenu-contents .life-tenacity{
    position: relative;
    width: 1200px;
    height: 2066px;
}

.life .submenu-container .submenu-contents .life-intelli{
    position: relative;
    width: 1200px;
    height: 2081px;
}


.life h2{
    font-family: 'Noto Sans KR', sans-serif!important;
    font-size: 40px;
    font-weight: 700;
}

.life .life-faith .card1{
    left : 0px;
    top : calc( var(--life-header2-height) + 30px);
    width: 560px;
    height: 510px;
    background: url(../imgs/life-card1.png) no-repeat center center;
}

.life .life-faith .text-card1 p::before{
    content: '';
    position: absolute;
    width: 740px;
    height: 1px;
    background-color: transparent;
    border-top: #c2c2c2 1px solid;
    left: -200px;
    top: 54px;
    transition: all 2.0s ease;
}

.life .life-faith .text-card1{
    left : calc( var(--life-header2-width) + 490px );
    top : calc( var(--life-header2-height) + 30px);
    width: 560px;
    height: 510px;
}

.life .life-faith .card2{
    left : calc( var(--life-header2-width) + 386px );
    top : calc( var(--life-header2-height) + 620px);
    width: 560px;
    height: 417px;
    background: url(../imgs/life-card2.png) no-repeat center center;
}


.life .life-faith .text-card2 p::before{
    content: '';
    position: absolute;
    width: 500px;
    height: 1px;
    background-color: transparent;
    border-top: #c2c2c2 1px solid;
    left: 0px;
    top: 54px;
    transition: all 2.0s ease;
}

.life .life-faith .text-card2{
    left : 100px;
    top : calc( var(--life-header2-height) + 620px);
    width: 420px;
    height: 200px;
}

.life .life-faith .card3{
    left : 0px;
    top : calc( var(--life-header2-height) + 1114px);
    width: 560px;
    height: 507px;
    background: url(../imgs/life-card3.png) no-repeat center center;
}


.life .life-faith .text-card3 p::before{
    content: '';
    position: absolute;
    width: 660px;
    height: 1px;
    background-color: transparent;
    border-top: #c2c2c2 1px solid;
    left: -200px;
    top: 54px;
    transition: all 2.0s ease;
}

.life .life-faith .text-card3{
    left : calc( var(--life-header2-width) + 490px );
    top : calc( var(--life-header2-height) + 1243px);
    width: 465px;
    height: 200px;
}

.life .life-faith .card4{
    left : calc( var(--life-header2-width) + 272px );
    top : calc( var(--life-header2-height) + 1542px);
    width: 684px;
    height: 423px;
    background: url(../imgs/life-card4.png) no-repeat center center;
}

.life .life-faith .text-card4 p::before{
    content: '';
    position: absolute;
    width: 420px;
    height: 1px;
    background-color: transparent;
    border-top: #c2c2c2 1px solid;
    left: 0px;
    top: 64px;
    transition: all 2.0s ease;
}

.life .life-faith .text-card4{
    left : 100px;
    top : calc( var(--life-header2-height) + 1815px);
    width: 420px;
    height: 200px;
    background-color: #ffffff!important;
    padding : 10px;
}



.life .life-tenacity .card5{
    left : 0px;
    top : calc( var(--life-header2-height) + 30px);
    width: 700px;
    height: 394px;
    background: url(../imgs/life-card5.png) no-repeat center center;
}

.life .life-tenacity .text-card5 p::before{
    content: '';
    position: absolute;
    width: 610px;
    height: 1px;
    background-color: transparent;
    border-top: #c2c2c2 1px solid;
    left: -200px;
    top: 54px;
    transition: all 2.0s ease;
}

.life .life-tenacity .text-card5{
    left : calc( var(--life-header2-width) + 625px );
    top : calc( var(--life-header2-height) + 212px);
    width: 425px;
    height: 210px;
}

.life .life-tenacity .card6{
    left : calc( var(--life-header2-width) + 256px );
    top : calc( var(--life-header2-height) + 512px);
    width: 760px;
    height: 423px;
    background: url(../imgs/life-card6.png) no-repeat center center;
}

.life .life-tenacity .text-card6 p::before{
    content: '';
    position: absolute;
    width: 440px;
    height: 1px;
    background-color: transparent;
    border-top: #c2c2c2 1px solid;
    left: 0px;
    top: 64px;
    transition: all 2.0s ease;
}

.life .life-tenacity .text-card6{
    left : 100px;
    top : calc( var(--life-header2-height) + 792px);
    width: 456px;
    height: 210px;
    background-color: #ffffff!important;
    padding : 10px;
}

.life .life-tenacity .card7{
    left : 0px;
    top : calc( var(--life-header2-height) + 1087px);
    width: 1029px;
    height: 504px;
    background: url(../imgs/life-card7.png) no-repeat center center;
}

.life .life-tenacity .text-card7 p::before{
    content: '';
    position: absolute;
    width: 410px;
    height: 1px;
    background-color: transparent;
    border-top: #c2c2c2 1px solid;
    left: 20px;
    top: 74px;
    transition: all 2.0s ease;
}

.life .life-tenacity .text-card7{
    left : calc( var(--life-header2-width) + 527px );
    top : calc( var(--life-header2-height) + 1465px);
    width: 456px;
    height: 210px;
    background-color: #ffffff!important;
    padding : 20px;
}


.life .life-intelli .card8{
    left : calc( var(--life-header2-width) + 330px );
    top : calc( var(--life-header2-height) + 30px);
    width: 699px;
    height: 576px;
    background: url(../imgs/life-card8.png) no-repeat center center;
}

.life .life-intelli .text-card8 p::before{
    content: '';
    position: absolute;
    width: 610px;
    height: 1px;
    background-color: transparent;
    border-top: #c2c2c2 1px solid;
    left: 0px;
    top: 64px;
    transition: all 2.0s ease;
}

.life .life-intelli .text-card8{
    left : 0px;
    top : calc( var(--life-header2-height) + 196px);
    width: 420px;
    height: 210px;
    background-color: #ffffff!important;
    padding : 10px;
}

.life .life-intelli .card9{
    left : 0px;
    top : calc( var(--life-header2-height) + 550px);
    width: 806px;
    height: 512px;
    background: url(../imgs/life-card9.png) no-repeat center center;
}

.life .life-intelli .text-card9 p::before{
    content: '';
    position: absolute;
    width: 440px;
    height: 1px;
    background-color: transparent;
    border-top: #c2c2c2 1px solid;
    left: 20px;
    top: 74px;
    transition: all 2.0s ease;
}

.life .life-intelli .text-card9{
    left : calc( var(--life-header2-width) + 530px );
    top : calc( var(--life-header2-height) + 995px);
    width: 491px;
    height: 253px;
    background-color: #ffffff!important;
    padding : 20px;
}


.life .life-intelli .card10{
    left : calc( var(--life-header2-width) + 332px );
    top : calc( var(--life-header2-height) + 1316px);
    width: 727px;
    height: 408px;
    background: url(../imgs/life-card10.png) no-repeat center center;
}

.life .life-intelli .text-card10 p::before{
    content: '';
    position: absolute;
    width: 610px;
    height: 1px;
    background-color: transparent;
    border-top: #c2c2c2 1px solid;
    left: 0px;
    top: 54px;
    transition: all 2.0s ease;
}

.life .life-intelli .text-card10{
    left : 0px;
    top : calc( var(--life-header2-height) + 1459px);
    width: 410px;
    height: 230px;
    background-color: #ffffff!important;
}

.floating-side{
    position: fixed;
    float: right;
    top: 50%;
    right: 100px;
}


.floating-side ul li{
    margin-bottom: 20px;
}

.floating-side ul li.active a{
    opacity: 100%;
}

.floating-side ul li a{
    font-family: 'Noto Sans KR', sans-serif!important;
    font-size: 14px;
    font-weight: 700;
    color: black;
    opacity: 30%;
    display: block;
}


.floating-side ul li a::after{
    content: '';
    position: relative;
    margin-left: 20px;
    width: 10px;
    height: 10px;
    background-color: #000;
    left: 2px;
    top: 0px;
    transition: all 2.0s ease;
    /* border: 1px solid #ffffff; */
    border-radius: 50%;
    opacity: 30%;
    display: inline-block;
}
.floating-side ul li.active a::after{
    background-color: #AB0101;
    opacity: 100%;
}