/*.coccoc-alo-ph-circle {
	display: block;
    width: 160px;
    height: 160px;
	
	position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	
    background-color: transparent;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 2px solid rgba(30, 30, 30, 0.4);
	border-color: #00aff2;
    opacity: .5;
    -webkit-animation: coccoc-alo-circle-anim 2.2s infinite ease-in-out;
    -moz-animation: coccoc-alo-circle-anim 2.2s infinite ease-in-out;
    -ms-animation: coccoc-alo-circle-anim 2.2s infinite ease-in-out;
    -o-animation: coccoc-alo-circle-anim 2.2s infinite ease-in-out;
    animation: coccoc-alo-circle-anim 2.2s infinite ease-in-out;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;

	margin-left:-80px;
	margin-top:-80px;
}


@-moz-keyframes coccoc-alo-circle-anim {
    0% {
        transform: rotate(0) scale(.5) skew(1deg);
        opacity: .1
    }
    30% {
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .5
    }
    100% {
        transform: rotate(0) scale(1) skew(1deg);
        opacity: .0
    }
}

@-webkit-keyframes coccoc-alo-circle-anim {
    0% {
        transform: rotate(0) scale(.5) skew(1deg);
        opacity: .1
    }
    30% {
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .5
    }
    100% {
        transform: rotate(0) scale(1) skew(1deg);
        opacity: .0
    }
}

@-o-keyframes coccoc-alo-circle-anim {
    0% {
        transform: rotate(0) scale(.5) skew(1deg);
        opacity: .1
    }
    30% {
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .5
    }
    100% {
        transform: rotate(0) scale(1) skew(1deg);
        opacity: .0
    }
}

@keyframes coccoc-alo-circle-anim {
    0% {
        transform: rotate(0) scale(.5) skew(1deg);
        opacity: .1
    }
    30% {
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .5
    }
    100% {
        transform: rotate(0) scale(1) skew(1deg);
        opacity: .0
    }
}
*/
#main-loading{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;left: 0;bottom: 0;right: 0;
	background: #fff;
	z-index: 1005;
}


#main-loading .center-logo{
	display: block;
    width: 217px;
    height: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#main-loading .center-logo img{
	width: 50px;
	opacity: 1.0;
    transition: all 1.0s ;
    -webkit-transition: all 1.0s ;
}

#main-loading .center-logo img.gone{
	opacity: 0.0;
}

#main-loading .center-logo p{
    font-family: 'ChosunNm', sans-serif!important;
    font-size: 17px;
    font-weight: 500!important;
    margin-top: 17px;
    transition: all 1.0s ;
    -webkit-transition: all 1.0s ;
	opacity: 1.0;
	padding-top: 0px;
}

#main-loading .center-logo p.gone{
	padding-top: 10px;
	opacity: 0.0;
}

#main-loading

.home .l-show{
	animation: fadein 1s;

}

.home .l-hide{
	animation: fadeout 1s;
}


.home .lb-show{
	animation: b_fadein 1s;

}

.home .lb-hide{
	animation: b_fadeout 1s;
}


.home .bg{
	top:0;
	left:0;
	width:100%;
	height:100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.home .bg1 {
	background:linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0)), url(../imgs/bg1_2.png) no-repeat center center;
	background-size: cover;
}

.home .bg2 {
	background:linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0)), url(../imgs/bg2_02.png) no-repeat center center;
	background-size: cover;
}

.home .bg3 {
	background:linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0)), url(../imgs/bg3_02.png) no-repeat center center;
	background-size: cover;
}



.home .type-center{
	text-align: center;
	width: 100%;
}

.home p.type-center{
	font-family: 'Noto Sans KR', sans-serif!important;
	font-size: 20px;
	font-weight: 400!important;	
	margin-top: 20px;
}



.home .section-body{
	position: relative;
    margin: 0 auto;
    width: 1200px;
	height: 100%;
    zoom: 1;
	padding-top : 130px;
}


/*
.home #schs-logo{
	width: 200px;
	height:240px;
	z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
	transform: translate(-50%, -50%);
}

.home #schs-logo > img{
	display: block; margin: 0px auto;
}*/

.home .footer-section{
	height : 320px;
	background-color: #F2F2F2;
}


.home .fp-arrow{
	height: 60px;
    width: 60px;
    margin: 0 auto;
    border: 1px solid #ffffff;
    border-radius: 50%;
}

.home .fp-prev{
	/*background:url(../imgs/left_arrow.svg) no-repeat center center fixed;*/
	background-color: transparent;
	background-image: url(../imgs/left_arrow.svg);
	background-repeat:no-repeat;
	background-position: center center;
	background-size : auto;
   -ms-background-size: auto;
   -o-background-size: auto;
   -moz-background-size: auto;
   -webkit-background-size: auto;
	transform: scaleX(-1); 
	left : 200px;
}


.home .fp-next{
	background-color: transparent;
	background-image: url(../imgs/left_arrow.svg);
	background-repeat:no-repeat;
	background-position: center center;
	background-size : auto;
   -ms-background-size: auto;
   -o-background-size: auto;
   -moz-background-size: auto;
   -webkit-background-size: auto;
	right : 200px;
}

#fp-nav ul li a.active span{
	height: 5px;
    width: 5px;
	background: #ffffff;
    -webkit-transition: all .3s;
    transition: all .3s;
	margin : 0;
	border: #707070 1px solid;
}

#fp-nav ul li a.active:hover span, #fp-nav ul li a:hover span{
	height: 5px;
    width: 5px;
	margin : 0;
}

#fp-nav ul li a span{
	height: 5px;
    width: 5px;
	background:#787874;	
    -webkit-transition: all .3s;
    transition: all .3s;
	margin : 0;
	border: #707070 1px solid;
}

#fp-nav.fp-right{
	right: 97px;	
}

#fp-nav ul li, .fp-slidesNav ul li{
	height: 27px;
}


@media (max-width: 1380px){
	.home .fp-prev{
		left : 200px;
	}
	
	.home .fp-next{
		right : 200px;
	}

	#fp-nav.fp-right{
		right: 97px;	
	}
}

@media (max-width: 1800px){	
	.home .fp-prev{
		left : 100px;
	}
	
	.home .fp-next{
		right : 100px;
	}

	#fp-nav.fp-right{
		right: 50px;	
	}
}


h1{
	font-family: 'Noto Serif KR', sans-serif!important;
	font-weight: 700;
	color: #242424;
	font-size: 45px;
}

.section-body > h1{
	font-family: 'Noto Serif KR', sans-serif!important;
	font-weight: 700;
	color: #242424;
	font-size: 45px;
}

h2{
	font-family: 'Noto Serif KR', sans-serif!important;
	font-weight: 500!important;
	color: #242424;
	font-size: 32px;
}


.vert-center-contents{
	margin: 0 auto;
    display: block;
	text-align: center;
    /* position: absolute; */
    /* left: 50%; */
    top: 50%;
}

/*
.vert-center-contents.main-copy{
	background: url(../imgs/main_copy_bg.png) no-repeat center center;
	background-size: cover;
	-ms-background-size: cover;
	-o-background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
}*/

.vert-center-contents h1{
	font-family: 'Noto Serif KR', sans-serif;
	font-weight: 400;
	font-size: 50px;
	color: #FFFFFF;
}

.vert-center-contents p{
	font-weight: 100;
    letter-spacing: -0.6px;
    font-size: 24px;
    color: #FFFFFF;
    line-height: 35px;
}


#main-slide .prompt-box{
	position: absolute;
    float: right;
    bottom: 71px;
    right: 0px;
    width: 1203px;
    height: 423px;
    background: transparent linear-gradient(90deg, #ffffff 0%, #122c54 39%, #122c54 100%) 0% 0% no-repeat padding-box;
    mix-blend-mode: multiply;
}

#main-slide h1.title{
	font-family: 'ChosunNm', 'Noto Serif KR', sans-serif !important;
    font-weight: 400;
    color: white;
    font-size: 70px!important;
    line-height: 103px;
    display: block;
    position: absolute;
    /* left: 0px; */
    bottom: 233px;
    right: 173px;
}

#main-slide p{
	font-family: 'Noto Sans KR', sans-serif !important;
    font-weight: 100;
    font-size: 24px!important;
    color: white;
	display: block;
    position: absolute;
    /* left: 0px; */
	opacity: 1.0;
    transition: all 1.0s ease;
    -webkit-transition: all 1.0s ease;
}

#main-slide p.desc1{
    bottom: 144px;
    right: 128px;
}

#main-slide p.desc2{
    bottom: 144px;
    right: 248px;
}

#main-slide p.desc3{
    bottom: 144px;
    right: 243px;
}

#main-slide p.gone{
    bottom: 124px;
	opacity: 0.0;
}

.slide-arrow{
	display: block;
	position: absolute;
	padding: 5px;
}

#main-slide .slide-info{
	display: block;
	position: absolute;
    bottom: 97px;
    right: 702px;
	color: white;
	font-family: 'Noto Sans KR', sans-serif !important;
    font-weight: 400;
	font-size: 17px;
}

#main-slide .auto-alide-pause, #main-slide .auto-alide-play{
	display: block;
	position: absolute;
    bottom: 87px;
    right: 792px;
	padding: 5px;
}

#main-slide .slide-arrow.left{
	bottom: 90px;
    right: 882px;
	transform: scaleX(-1); 
}

#main-slide .slide-arrow.right{
    bottom: 90px;
    right: 842px;
}


#main-slide .vert-center-contents p{
    padding-top: 49px;
	opacity: 100%;
    transition: all 0.5s ease;
}

#main-slide .vert-center-contents p.gone{
    padding-top: 30px;
	opacity: 0%;
}


#iniquities{
	background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../imgs/iniq_bg.png) no-repeat center center;
	background-size: cover;
	-ms-background-size: cover;
	-o-background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;

}

#iniquities .vert-center-contents {
	margin: 85px auto 0px;
    transition: all 1.0s ease;
	opacity: 100%;
    z-index: 502;
}

#iniquities .vert-center-contents.gone {
	margin: 50px auto 0px;
	opacity: 0%;
}

#iniquities .vert-center-contents h1{
	font-family: 'ChosunNm', 'Noto Serif KR', sans-serif !important;
	font-size: 62px;
    font-weight: 200;
    z-index: 502;
	line-height: 87px;
}

#iniquities .student-wrapper{
    height: 0px;
}

#iniquities .student{
	position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    margin: auto auto 0;
	opacity: 94%;
	transform: scale(1);
    transition: all 5.0s ease;
    z-index: 500;
}

#iniquities .student.fade{
	opacity: 74%;
	transform: scale(1.05);
}

#iniquities .iniq-item{
    display: inline-block;
	position: relative;
    z-index: 400;
}

#iniquities .iniq-item.arc1{
    animation: drawArc1 15s linear infinite;
    -webkit-animation: drawArc1 15s linear infinite;
	top: 368px;
    left: 342px;
}

#iniquities .iniq-item.arc2{
    animation: drawArc2 12s linear infinite;
    -webkit-animation: drawArc2 12s linear infinite;
	top: 435px;
    left: 47px;
}

#iniquities .iniq-item.arc3{
    animation: drawArc3 16s linear infinite;
    -webkit-animation: drawArc3 16s linear infinite;    
	top: 529px;
    left: -183px;
}

#iniquities .iniq-item.arc4{
    animation: drawArc4 14s linear infinite;
    -webkit-animation: drawArc4 14s linear infinite;
    top: 625px;
    left: -441px;
}

#iniquities .iniq-item.arc5{
    animation: drawArc3 14s linear infinite;
    -webkit-animation: drawArc3 14s linear infinite;
    top: 376px;
    left: -160px;
}

#iniquities .iniq-item.arc6{
    animation: drawArc2 13s linear infinite;
    -webkit-animation: drawArc2 13s linear infinite;    
	top: 528px;
    left: -264px;
}

#iniquities .iniq-item.arc7{
    animation: drawArc1 12s linear infinite;
    -webkit-animation: drawArc1 12s linear infinite;    
	top: 524px;
    left: 843px;
}

#iniquities .iniq-item.arc8{
    animation: drawArc1 10s linear infinite;
    -webkit-animation: drawArc1 10s linear infinite;
    top: 609px;
    left: 710px;
}

@keyframes drawArc1 {
    0% { transform: rotate(0deg) translateX(15px) rotate(0deg) scaleX(1.05);}
    100%{ transform: rotate(-360deg) translateX(15px) rotate(360deg) scaleX(1.05);  }
}
@-webkit-keyframes drawArc1 {
    0% { -webkit-transform: rotate(0deg) translateX(15px) rotate(0deg) scaleX(1.05);}
    100%{ -webkit-transform: rotate(-360deg) translateX(15px) rotate(360deg) scaleX(1.05);  }
}

@keyframes drawArc4 {
    0% { transform: rotate(0deg) translateX(10px) rotate(0deg) scaleX(1.05);}
    100%{ transform: rotate(-360deg) translateX(10px) rotate(360deg) scaleX(1.05);  }
}
@-webkit-keyframes drawArc4 {
    0% { -webkit-transform: rotate(0deg) translateX(10px) rotate(0deg) scaleX(1.05);}
    100%{ -webkit-transform: rotate(-360deg) translateX(10px) rotate(360deg) scaleX(1.05);  }
}


@keyframes drawArc2 {
    0% { transform: rotate(0deg) translateX(-10px) rotate(0deg) scaleX(0.95);}
    100%{ transform: rotate(360deg) translateX(-10px) rotate(-360deg) scaleX(0.95);  }
}
@-webkit-keyframes drawArc2 {
    0% { -webkit-transform: rotate(0deg) translateX(10px) rotate(0deg) scaleX(0.95);}
    100%{ -webkit-transform: rotate(360deg) translateX(10px) rotate(-360deg) scaleX(0.95);  }
}


@keyframes drawArc3 {
    0% { transform: rotate(0deg) translateX(-5px) rotate(0deg) scaleX(1.00);}
    100%{ transform: rotate(360deg) translateX(-5px) rotate(-360deg) scaleX(1.00);  }
}
@-webkit-keyframes drawArc3 {
    0% { -webkit-transform: rotate(0deg) translateX(5px) rotate(0deg) scaleX(1.05);}
    100%{ -webkit-transform: rotate(360deg) translateX(5px) rotate(-360deg) scaleX(1.05);  }
}


#pure-ways{
	/*
	background: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0)), url(../imgs/pure_bg_1.png) no-repeat center center;
	background-size: cover;
	-ms-background-size: cover;
	-o-background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;*/
	
}


#pure-ways .t-bg1 {
	background:linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0)), url(../imgs/pure_bg_2.png) no-repeat center center;
	background-size: cover;
}

#pure-ways .t-bg2 {
	background:linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0)), url(../imgs/teach_coach_bg_2.png) no-repeat center center;
	background-size: cover;
}


#pure-ways .prompt-box{
	position: absolute;
    float: left;
    top: 0px;
    left : 0px;
    width: 834px;
    height: 100%;
    background: #631919E5;
	display: table;
    transition: all 1.0s ease;
    -webkit-transition: all 1.0s ease;
	opacity: 1.0;
}

#pure-ways .prompt-box.gone{
	opacity: 0;
}

#pure-ways .prompt-box .prompt-cont{
	width: 655px;
	color: white;
	display: table-cell;
	vertical-align: middle;
	padding-left: 90px;
}

#pure-ways .prompt-box .prompt-cont h1.title{
	font-family: 'ChosunNm', 'Noto Serif KR', sans-serif !important;
    font-weight: 400;
    color: white;
    font-size: 60px!important;
    line-height: 82px;
}

#pure-ways .prompt-box .prompt-cont p.desc{
	font-family: 'Noto Sans KR', sans-serif !important;
	font-weight: 100;
	font-size: 24px!important;
	margin-top: 45px;
}

#pure-ways .slide-arrow.left{
	bottom: 50px;
    left: 720px;
	transform: scaleX(-1); 
}

#pure-ways .slide-arrow.right{
    bottom: 50px;
    left: 780px;
}


#pure-ways .slide-info{
	display: block;
	position: absolute;
    bottom: 57px;
    left: 650px;
	color: white;
	font-family: 'Noto Sans KR', sans-serif !important;
    font-weight: 400;
	font-size: 17px;
}

#pure-ways .slide-instruction{
	display: block;
    position: absolute;
    bottom: 17px;
    left: 637px;
    color: white;
    font-family: 'Noto Sans KR', sans-serif !important;
    font-weight: 400;
    font-size: 17px;
}

#pure-ways .descripts{
	margin-top: 44px;
}

#pure-ways .descripts h2{
	font-family: 'Noto Sans KR', sans-serif!important;
	font-size: 50px!important;
	color: #ffffff;
	letter-spacing: -1.25px;
    transition: all 0.5s ease;
	opacity: 100%;
	margin-top: 20px;
	display: inline-block;
}

#pure-ways .descripts h2.gone {
	margin-top: 0px;
	opacity: 0%;
}

#pure-ways .descripts p{
	font-family: 'Noto Sans KR', sans-serif!important;
	font-size: 20px!important;
	font-weight: 400;
	color: #ffffff;
	letter-spacing: -0.5px;
	margin-top: 40px;
    transition: all 1.0s ease;
	transition-delay: 250ms;
	opacity: 100%;
	display: block;
}

#pure-ways .descripts p.gone {
	margin-top: 35px;
	opacity: 0%;
}

#pure-ways .words-quote{
	margin-top: 40px;
    padding: 20px 0px 20px 0px;
    border-bottom: #ffffff 2px solid;
    border-top: #ffffff 2px solid;
	width: 394px;
    transition: all 1.0s ease;
	transition-delay: 700ms;
	opacity: 100%;
}

#pure-ways .words-quote.gone{
	margin-top: 20px;
	opacity: 0%;
}

#pure-ways .words-quote p{
	font-family: 'Noto Serif KR', sans-serif!important;
	font-weight: 400;
	font-size: 20px!important;
	letter-spacing: -0.5px;
	color: #ffffff;
}

#teaching-coaching{
	background: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0)), url(../imgs/teach_coach_bg_1.png) no-repeat center center;
	background-size: cover;
	-ms-background-size: cover;
	-o-background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
}

#teaching-coaching .section-body{
	width: 100%;
	height: auto;
	display: flex;
}
/*
#teaching-coaching .section-body .vert-center-contents p{
    padding-top: 0ox;
    padding-bottom: 59px;
}
*/

/*
#teaching-coaching .vert-center-contents p{
    padding-top: 49px;
	opacity: 100%;
    transition: all 0.5s ease;
}

#teaching-coaching .vert-center-contents p.gone{
    padding-top: 0px;
	opacity: 0%;
}
*/
#teaching-coaching .section-body h1{
	opacity: 100%;
    transition: all 0.5s ease;
}

#teaching-coaching .section-body h1.gone{
	opacity: 0%;
}


#teaching-coaching .section-body .vert-center-contents p.higher-p{
	padding-top: 100px;
	opacity: 100%;
    transition: all 0.5s ease;
	transition-delay: 100ms;
}

#teaching-coaching .section-body .vert-center-contents p.lower-p{
	padding-top: 30px;
	opacity: 100%;
    transition: all 0.5s ease;
	transition-delay: 150ms;
}

#teaching-coaching .section-body .vert-center-contents p.higher-p.gone,
#teaching-coaching .section-body .vert-center-contents p.lower-p.gone{
    padding-top: 0px;
	opacity: 0%;
}


#teaching-coaching .section-body .vert-center-contents .edu-more-wrapper{
	width: 282px;
	height: 61px;
	margin:0 auto 0;
	transform:translateY(50%);
	opacity:1;
	transition:0.5s all;
	border: #ffffff88 1px solid;
}

#teaching-coaching .section-body .vert-center-contents .edu-more-wrapper.gone{
	opacity: 0%;
}

#teaching-coaching .section-body .vert-center-contents .edu-more{
	display: block;
	font-weight: 500;
	letter-spacing: -0.5px;
	font-size: 20px;
	/*width: 282px;
	height: 61px;*/
	/*border: #ffffff 1px solid;*/
	color: #ffffff;
    margin: 0px auto;
    line-height: 56px;
}

#teaching-coaching .section-body .vert-center-contents a.edu-more::before, 
#teaching-coaching .section-body .vert-center-contents a.edu-more::after {box-sizing: inherit; content: ''; position: absolute; width: 100%; height: 100%;}
#teaching-coaching .section-body .vert-center-contents a.edu-more {transition: color 0.25s;}
#teaching-coaching .section-body .vert-center-contents a.edu-more::before, 
#teaching-coaching .section-body .vert-center-contents a.edu-more::after {border: 1px solid transparent;width: 0;height: 0;}
#teaching-coaching .section-body .vert-center-contents a.edu-more::before {top: 0;left: 0;}
#teaching-coaching .section-body .vert-center-contents a.edu-more::after {bottom: -2px;right: -2px;}
#teaching-coaching .section-body .vert-center-contents a.edu-more:hover {color: #FFFFFF;}
#teaching-coaching .section-body .vert-center-contents a.edu-more:hover::before, #teaching-coaching .section-body .vert-center-contents a.edu-more:hover::after {width: 100%;height: 100%;}
#teaching-coaching .section-body .vert-center-contents a.edu-more:hover::before {border-top-color: #FFFFFF;border-right-color: #FFFFFF;transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;}
#teaching-coaching .section-body .vert-center-contents a.edu-more:hover::after {border-bottom-color: #FFFFFF;border-left-color: #FFFFFF;transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;}


#core-capacities .section-body{
	width: 100%;
	height: auto;
	background:url(../imgs/core_flower_bg2.svg) no-repeat left 878px;
}


#core-capacities .section-body h2.type-center{
	margin-top: 20px;
}

#core-capacities .section-body .vert-center-contents p{
	margin-top: 30px;
	color: #242424;
}

#core-capacities .icon-box{
	width: 750px;
	margin: 65px auto 0px;
	overflow: hidden;
    display: flex;
    flex-direction: row;
    padding: 10px;
}

#core-capacities .icon-box .core-icon{
	float: left;
	margin : 0px auto;
	transform: scaleX(1.0) scaleY(1.0);
    transition: all 0.3s ease;
}

#core-capacities .icon-box .core-icon:hover{
	transform: scaleX(1.1) scaleY(1.1);
}

#core-capacities .icon-box .core-icon .core-text-wrapper{
	padding: 21px 0px 0px 0px;
	text-align: center;
}

#core-capacities .icon-box .core-icon .core-text-wrapper .core-text{
	width: 72px;
	letter-spacing: -0.5px;
	font-weight: 400;
	font-size: 20px;
}

#core-capacities .core-card-box{
	width: 1200px;
	margin: 91px auto 0px;
}


#core-capacities .core-card-box .core-card{
	width: 360px;
	height : 545px;
}

#core-capacities .core-card-box .core-card img{
	width: 360px;
	height: 280px;
}

#core-capacities .core-card-box .core-card .core-card-text-wrapper{
	text-align: center;
}

#core-capacities .core-card-box .core-card .core-card-text-wrapper .core-card-title{
	font-family: 'Noto Serif KR', sans-serif!important;
	font-weight: 700;
	font-size: 36px;
	color: #242424;
	padding-top: 30px;
	display: block;
}

#core-capacities .core-card-box .core-card .core-card-text-wrapper .core-card-body{
	padding-top: 30px;
	font-weight: 400;
	font-size: 16px;
	color: #242424;
	line-height: 30px;
}

#core-capacities .core-slide-ctrl-box{
	margin: 0px auto 0px;
	overflow: hidden;
	padding: 67px 0px 150px 0px;
	width: 220px;
}

#core-capacities .core-slide-ctrl-box .slide-btn:nth-child(1){
	float: left;
}

#core-capacities .core-slide-ctrl-box .slide-btn:nth-child(2){
	float: right;
}

/*
#core-capacities .section-body::before{
	width: 324px;
    height: 539px;
    
    content: "";
    position: relative;
    float: left;
    left: 0px;
    top: 1072px;
}*/

#core-capacities .fear-of-God{
	background: url(../imgs/core_flower_bg1.svg) no-repeat left 336px , 
				url(../imgs/core_flower_bg3.svg) no-repeat right 298px ,
				url(../imgs/core_flower_bg2.svg) no-repeat left -138px ;
	background-color: #FCFAF5;
	width: 100%;
	height : 598px;
}

#fear-of-God-title{
	padding-top: 20px;
    transition: all 0.5s ease;
	opacity: 0%;
}

#fear-of-God-title.show{
	padding-top: 0px;
	opacity: 100%;
}

#core-capacities .fear-of-God h1{
	display: inline-block;
	margin-top : 107px;
}

#core-capacities .fear-of-God .words-quote{
	display: block;
	width: 1160px;
	height:142px;
	margin: 0px auto;
	margin-top: 80px;
	opacity: 0%;
    transition: all 0.5s ease;
}

#core-capacities .fear-of-God .words-quote.show{
	opacity: 100%;
}

#core-capacities .fear-of-God .words-quote .quote-box{
	width: 559px;
	height: 142px;
	background: url(../imgs/fear_bg.svg) no-repeat center center, url(../imgs/quotation1.PNG) no-repeat 64px center, url(../imgs/quotation2.PNG) no-repeat 454px center;
	text-align: center;
}
/*
#core-capacities .fear-of-God .words-quote .quote-box p::before{
	background: url(../imgs/quotation1.PNG) no-repeat center center fixed;
	width: 46px;
	height : 39px;
	content: "";
    position: relative;
    left: 0px;
    float: left;
    top: 0px;
}

#core-capacities .fear-of-God .words-quote .quote-box p::after{
	background: url(../imgs/quotation2.PNG) no-repeat center center fixed;
	width: 44px;
	height : 34px;
	content: "";
    position: relative;
    left: 0px;
    float: right;
    top: 0px;
}*/

#core-capacities .fear-of-God .words-quote .quote-box:nth-child(1){
	float: left;
}

#core-capacities .fear-of-God .words-quote .quote-box:nth-child(2){
	float: right;
}

#core-capacities .fear-of-God .words-quote .quote-box p{
	font-family: 'Noto Serif KR', sans-serif!important;
	font-weight: 400!important;
	font-size: 20px;
	color: #242424;
}

#core-capacities .fear-of-God .words-quote .quote-box span{
    display: inline-block;
}

#core-capacities .fear-of-God .words-quote .quote-box:nth-child(1) p{
	padding-top: 46px;
}

#core-capacities .fear-of-God .words-quote .quote-box:nth-child(1) span{
	padding-top: 10px;
}

#core-capacities .fear-of-God .words-quote .quote-box:nth-child(2) p{
	padding-top: 30px;
	line-height: 30px;
}

#core-capacities .fear-of-God .words-quote .quote-box:nth-child(2) span{
	padding-top: 7px;
}

#core-capacities .fear-of-God .words-quote .quote-box span{
	font-family: 'Noto Serif KR', sans-serif!important;
	font-weight: 100!important;
	font-size: 15px;
	color: #242424;
}



#our-videos{
	background: url(../imgs/core_flower_bg1.svg) no-repeat left -258px, url(../imgs/core_flower_bg3.svg) no-repeat right -27px;
}


#our-videos .play-box{
	margin-top: 60px;
	margin-left:120px;
	border: 1px solid #707070;
    height: 540px;
    width: 960px;
}

#our-videos .out-vid-tab-menu{
	margin: 0px 0px 0px 120px;
	padding: 0px;
	width: 960px;
	height: 61px;
	border: 1px solid #707070;
}

#our-videos .out-vid-tab-menu li{
	float : left;
	position:relative;
	width:239px;
	border: 0;
	height:60px;
}

#our-videos .out-vid-tab-menu li:not(:last-child){
	border-right: 1px solid #707070;
}

#our-videos .out-vid-tab-menu li a{
	color: #707070;
	display: block;
	height: 61px;
	text-align: center;
	font-size: 17px;
	font-weight: 400;
    line-height: 57px;
}

#our-videos .out-vid-tab-menu li.active a{
	background-color: #ab0101;
	color: #ffffff;
}

#our-videos .short-cut-wrap{
	width: 100%;
	text-align: right;
	margin-top: 10px;
}

#our-videos .short-cut-wrap img{
	display: block;
	float: right;
}

#our-videos .short-cut-wrap span{
	display: block;
	float: right;
	color: #000000;
	font-family: 'Noto Sans KR', sans-serif!important;
	font-weight: 100!important;
	font-size: 15px;
	padding-top: 6px;
}


#school-board{
	background-color: #FCFAF5;
	
}

#school-board .section-body::before{
	content: "";
    position: absolute;
	/*background: url(../imgs/footer_logo.svg) no-repeat center center fixed;*/
}

#school-board .section-body::after{
	content: "";
    position: absolute;
	/*background: url(../imgs/footer_logo.svg) no-repeat center center fixed;*/
}



#school-board .board-table{
	width:100%;
	border-top: #707070 1px solid;
	margin-top: 60px;
}

#school-board tr{
	height:124px;
}

#school-board td{
	font-size: 18px;
	color: #707070;
	letter-spacing: -0.45px;
	border-bottom: #707070 1px solid;
	font-weight: 400;
}

#school-board .row-wrap-body{
	float: left;
	height : 124px;
	width : 95%
}

#school-board .row-wrap-body .row-head{
	font-size: 24px;
	letter-spacing: -0.6px;
	color: #242424;
    font-weight: 700;
	margin-top : 23px;
}

#school-board .row-wrap-body .row-body{
	margin-top: 10px;
	font-size: 16px;
	letter-spacing: -0.4px;
	color: #242424;
    font-weight: 500;
}

#school-board .row-wrap-tail{
	float: left;
	height : 124px;
}

#school-board .row-wrap-tail a.board-go-btn{
	display: inline-block;
	width: 47px;
	height: 47px;
	background: url(../imgs/board_go_btn.png) no-repeat center center;
    background-size: 47px 47px;
	-o-background-size: 47px 47px;
	-ms-background-size: 47px 47px;
	-moz-background-size: 47px 47px;
	-webkit-background-size: 47px 47px;
	margin-top: 34px;
}

#school-board .row-wrap-tail a.board-go-btn:hover{
	background: url(../imgs/board_go_btn_hover.png) no-repeat center center;
	background-size: 47px 47px;
	-o-background-size: 47px 47px;
	-ms-background-size: 47px 47px;
	-moz-background-size: 47px 47px;
	-webkit-background-size: 47px 47px;
	-webkit-transition: background-image 0.2s ease-in-out;
	transition: background-image 0.2s ease-in-out;
}

/*
#contact .overview-fac-wrap::before{
	content: "";
    position: absolute;
	background: url(../imgs/contact_2.png) no-repeat center center fixed;
	width:1920px;
	height:770px;
}
*/
#contact .section-body{
	width:100%;
	background: url(../imgs/contact_2.png) no-repeat center 304px;
	background-size: 100% 635px;
}

#contact .overview-fac-wrap{
	margin-top: 60px;	
}

#contact .overview-fac{
	background: url(../imgs/contact_1.png) no-repeat center center;
	width: 1024px;
    height: 564px;
    margin: 0px auto;
    margin-top: 96px;	
	transition: all 0.25s linear;
}

#contact .overview-map{
	width: 1024px;
    height: 564px;
    margin: 0px auto;
    margin-top: 96px;
	transition: all 0.25s linear;
}

.overview-fac a, .overview-map a{
	color: white;
    font-size: 14px;
    position: absolute;
    display: inline-block;
    top: 851px;
    margin-left: 1062px;
}

#contact .contact-body{
	margin: 0px auto;
	width: 1200px;
	height : 354px;
	padding-top: 100px;
	padding-left : 88px;
	font-weight: 400;
	font-size: 16px;
	color: #6D6D6D;
	letter-spacing: -0.4px;
}

#contact .contact-body .info-box{
	display: block;
	overflow: hidden;
}

#contact .contact-body .info-box .title{
	font-weight: 500;
	color: #242424;
	font-size: 18px;
	letter-spacing: -0.45px;
	width : 120px;
	margin : 0;
	padding : 0;
	float: left;
}

#contact .contact-body .info-box .info{
	margin : 0;
	padding : 0;
	float: left;
}

#contact .contact-body .address-info, #contact .contact-body .directions{
	margin: 0px;
	padding: 0px;
}


#contact .contact-body .address-info{	
	margin: 0px 0px;
	padding: 0px 0px;
	width:400px;
	float: left;
	display: inline-block;
	padding-left: 54px;
	padding-right: 40px;
}

#contact .contact-body .address-info .info-box{
	height:50px;
}

#contact .contact-body .directions{
	margin: 0px 0px;
	padding: 0px 0px;
	width:575px;
	float: left;
	display: inline-block;
}

#contact .contact-body .directions .info-box .title{
	height: 120px;
	padding-left: 75px;
}

#contact .contact-body .directions:before{
	content: "";
    position: absolute;
	width : 1px;
	height : 128px;
	background-color: #6D6D6D;
}


#contact .contact-body .directions .info-box span.title-num{
	float: left;
    width: 22px;
}

#contact .contact-body .directions .info-box span:nth-child(2){
	height: 71px;
}

#contact .contact-body .directions .info-box span:nth-child(4){
	height: 30px;
}

    
#contact .contact-body .directions .info-box li{
	padding-bottom: 10px;
}

#contact #go-top-btn{
	float: right;
    position: relative;
    top: -139px;
    left: -334px;
}

