.home .l-show{
	animation: fadein 1s;

}

.home .l-hide{
	animation: fadeout 1s;
}


.home .lb-show{
	animation: b_fadein 1s;

}

.home .lb-hide{
	animation: b_fadeout 1s;
}



.home .bg{
	top:0;
	left:0;
	width:100%;
	height:100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.home .bg1 {
	background:linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)), url(../imgs/bg6.png) no-repeat center center fixed;
}

.home .bg2 {
	background:linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)), url(../imgs/bg1.png) no-repeat center center fixed;
}

.home .bg3 {
	background:linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)), url(../imgs/bg3.png) no-repeat center center fixed;
}

.home .bg4 {
	background:linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)), url(../imgs/bg2.png) no-repeat center center fixed;
}

.home .bg5 {
	background:linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)), url(../imgs/bg5.png) no-repeat center center fixed;
}

.home .type-center{
	text-align: center;
	width: 100%;
}

.home p.type-center{
	font-family: 'Noto Sans KR', sans-serif!important;
	font-size: 20px;
	font-weight: 400!important;	
	margin-top: 20px;
}

h1{
	font-family: 'Noto Serif KR', sans-serif!important;
	font-weight: 700!important;
	color: #242424;
	font-size: 45px;
}

#school-board{
	background-color: #F2F2F2;
	
}

#school-board .board-table{
	width:100%;
	border-top: #707070 1px solid;
	margin-top: 60px;
}

#school-board tr{
	height:124px;
}

#school-board td{
	font-size: 18px;
	color: #707070;
	letter-spacing: -0.45px;
	border-bottom: #707070 1px solid;
}

#school-board .row-wrap-body{
	float: left;
	height : 124px;
	width : 95%
}

#school-board .row-wrap-body .row-head{
	font-size: 24px;
	letter-spacing: -0.6px;
	color: #242424;
    font-weight: 700;
	margin-top : 23px;
}

#school-board .row-wrap-body .row-body{
	margin-top: 10px;
	font-size: 16px;
	letter-spacing: -0.4px;
	color: #242424;
    font-weight: 500;
}

#school-board .row-wrap-tail{
	float: left;
	height : 124px;
}

#school-board .row-wrap-tail a.board-go-btn{
	display: inline-block;
	width: 47px;
	height: 47px;
	background: url(../imgs/board_go_btn.png) no-repeat center center fixed;
    background-size: 47px 47px;
	margin-top: 34px;
}

#school-board .row-wrap-tail a.board-go-btn:hover{
	background: url(../imgs/board_go_btn_hover.png) no-repeat center center fixed;
	background-size: 47px 47px;
	-webkit-transition: background-image 0.2s ease-in-out;
	transition: background-image 0.2s ease-in-out;
}

.home .section-body{
	position: relative;
    margin: 0 auto;
    width: 1200px;
	height: 100%;
    zoom: 1;
	padding-top : 130px;
}


/*
.home #schs-logo{
	width: 200px;
	height:240px;
	z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
	transform: translate(-50%, -50%);
}

.home #schs-logo > img{
	display: block; margin: 0px auto;
}*/

.home .footer-section{
	height : 320px;
	background-color: #F2F2F2;
}
