

#popup-notice-wrap{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;left: 0;bottom: 0;right: 0;
	background: #000000aa;
	z-index: 1002;
}


#popup-notice-wrap .popup-notice{
	display: block;
    width: 1200px;
    height: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
	border : #ffffff solid 1px;
	z-index: 1003;
	background: #ffffff;
}

#popup-notice-wrap .popup-notice .close{
	display: block;
	position: absolute;
	right: 0px;
	top: 0px;
	padding: 30px;
	color: #000;
	opacity: 1;
	font-size: 30px;
}

#popup-notice-wrap .popup-notice .today-close{
	display: block;
	position: absolute;
	right: 0px;
	bottom: 0px;
	padding: 30px;
	color: #000;
	opacity: 1;
	font-size: 20px;
}
