:root{
	--popup-img-width:700px;
	--popup-img-height:860px;
}


#popup-notice-wrap{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;left: 0;bottom: 0;right: 0;
	background: #000000aa;
	z-index: 1002;
}


#popup-notice-wrap .popup-notice{
	display: block;
    width: var(--popup-img-width);
    height: var(--popup-img-height);
    position: fixed;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
	z-index: 1003;
	background: #ffffff;
}

#popup-notice-wrap .popup-notice .buttons-wrap{
	width: 100%;
    height: 60px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

#popup-notice-wrap .popup-notice .buttons-wrap .close{
	display: block;
	color: #242424;
	opacity: 1;
	font-size: 20px;
    width: 50%;
	height : 100%;
    background-color: #E8DCB8;
    font-weight: 500;
    font-family: 'Noto Sans KR', sans-serif!important;
    line-height: 53px;
}

#popup-notice-wrap .popup-notice .buttons-wrap .today-close{
	display: block;
	color: #242424;
	opacity: 1;
	font-size: 20px;
	width:50%;
	height:100%;
    background-color: #E8DCB8;
    font-weight: 500;
    font-family: 'Noto Sans KR', sans-serif!important;
    line-height: 53px;
    border-right: #A79C7C solid 1px;
}
